Repository Strappazzon/GRW-GHOST-Buster, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, dependencies, documentation, i18n, ui, uplay, website, wildlands

.github/labeler.yml:

cicd:
  - .github/workflows/**

dependencies:
  - docs/.ruby-version
  - docs/Gemfile
  - docs/Gemfile.lock
  # - src/GHOSTbackup/GHOSTbackup.vbproj

documentation:
  - .github/CONTRIBUTING.md
  - .github/README.md
  - docs/README.md

i18n:
  - src/GHOSTbackup/GHOSTbackup.Localization/**

ui:
  - src/GHOSTbackup/GHOSTbackup.UI/**
  - src/GHOSTbackup/My Project/Resources.Designer.vb
  - src/GHOSTbackup/My Project/Resources.resx

uplay:
  - src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb

website:
  - docs/**

wildlands:
  - src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  - src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb

Remove files not included in the project
  src/GHOSTbackup/GHOSTbackup.vbproj
Labels: none

Remove comments
  src/GHOSTbackup/My Project/AssemblyInfo.vb
Labels: none

Update Icons8 license
  src/Licenses/Icons8_license.txt
Labels: none

`AssemblyCompany`
  src/GHOSTbackup/My Project/AssemblyInfo.vb
Labels: none

config(docs): Replace `.ruby-version` with `.tool-versions`
  .editorconfig
  .gitattributes
  docs/.ruby-version
  docs/.tool-versions
Labels: dependencies, website

deps(docs): Update Ruby dependencies
  docs/Gemfile.lock
Labels: dependencies, website

cicd: Update workflows
  .github/workflows/build-website.yml
Labels: cicd

Fix Copy & Paste mistakes
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/general.yml
Labels: none

deps: Update Ruby dependencies
  docs/.tool-versions
  docs/Gemfile
  docs/Gemfile.lock
Labels: dependencies, website

docs: Use `site.description`
  docs/_components/header.html
  docs/_config.yml
Labels: website

docs: Remove Twitter meta tags
  docs/_templates/home.html
Labels: website

config: Update editor and linter configs
  .editorconfig
  .markdownlint-cli2.yml
Labels: none

cicd: Update dependencies
  .github/workflows/build-website.yml
Labels: cicd

docs: Update Contributing Guidelines
  .github/CONTRIBUTING.md
Labels: documentation

Rewrite scripts
  .vscode/settings.json
  script/Build.ps1
  script/TargetFrameworkSDKToolsDirectory.ps1
  script/build.ps1
  script/release.ps1
Labels: none

Copyright
  src/GHOSTbackup/GHOSTbackup.Helpers/BackupHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Logger.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Settings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Strings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Updater.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb
  src/GHOSTbackup/GHOSTbackup.Localization/Localization.vb
  src/GHOSTbackup/GHOSTbackup.UI/Banner.vb
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomNumericUpDown.vb
  src/GHOSTbackup/GHOSTbackup.UI/Controls/Separator.vb
  src/GHOSTbackup/GHOSTbackup.UI/CustomMsgBox.vb
  src/GHOSTbackup/GHOSTbackup.UI/Enums.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.vb
  src/GHOSTbackup/GHOSTbackup.UI/Notification.vb
  src/GHOSTbackup/My Project/AssemblyInfo.vb
Labels: i18n, ui, uplay, wildlands

Rename application icon
  src/GHOSTbackup/GHOSTbackup.vbproj
  src/GHOSTbackup/Icon.ico
Labels: none

docs: Don't use custom cursor
  docs/_sass/pages/_home.scss
  docs/assets/img/cursor.png
Labels: website

docs: Don't style scrollbars
  docs/_sass/pages/_home.scss
Labels: website

docs: Better fonts fallback
  docs/_sass/pages/_home.scss
Labels: website

Rename region
  src/GHOSTbackup/GHOSTbackup.Helpers/BackupHelper.vb
Labels: none

docs: Update setting name
  .github/README.md
  docs/index.md
Labels: documentation, website

Bump version
  src/GHOSTbackup/My Project/AssemblyInfo.vb
  version
Labels: none

Update Changelog
  CHANGELOG.txt
Labels: none

docs: Update ogimage
  docs/_templates/home.html
  docs/assets/img/og.jpg
  docs/assets/img/og.png
Labels: website

docs: Add `site.url`
  docs/_config.yml
Labels: website

cicd: Update dependencies
  .github/workflows/build-website.yml
Labels: cicd
