Repository Strappazzon/GRW-GHOST-Buster, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, dependencies, documentation, i18n, ui, uplay, website, wildlands

.github/labeler.yml:

cicd:
  - .github/workflows/**

dependencies:
  - docs/.ruby-version
  - docs/Gemfile
  - docs/Gemfile.lock
  # - src/GHOSTbackup/GHOSTbackup.vbproj

documentation:
  - .github/CONTRIBUTING.md
  - .github/README.md
  - docs/README.md

i18n:
  - src/GHOSTbackup/GHOSTbackup.Localization/**

ui:
  - src/GHOSTbackup/GHOSTbackup.UI/**
  - src/GHOSTbackup/My Project/Resources.Designer.vb
  - src/GHOSTbackup/My Project/Resources.resx

uplay:
  - src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb

website:
  - docs/**

wildlands:
  - src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  - src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb

Add Issue and Discussion templates
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general.yml
  .github/ISSUE_TEMPLATE/question.md
Labels: none

Add SUPPORT file
  .github/ISSUE_TEMPLATE/config.yml
  SUPPORT.md
Labels: none

docs: Add credits
  docs/README.md
Labels: documentation, website

config: Fix VS Code settings
  .vscode/settings.json
Labels: none

docs: Update README
  .github/README.md
Labels: documentation

config: Update VS Code settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

docs: Update header and "Getting Started" section
  docs/_components/header.html
  docs/_components/toc.html
  docs/_sass/pages/_home.scss
  docs/index.md
Labels: website

docs: Fix missing italic font
  docs/_sass/_typography.scss
Labels: website

config: Add YAML schema for Issue template config
  .vscode/settings.json
Labels: none

docs: Fix link
  docs/README.md
Labels: documentation, website

config: Update EditorConfig for Visual Basic files
  src/.editorconfig
Labels: none

Format code
  src/GHOSTbackup/GHOSTbackup.Helpers/BackupHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Logger.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Settings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Strings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Updater.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb
  src/GHOSTbackup/GHOSTbackup.Localization/Localization.vb
  src/GHOSTbackup/GHOSTbackup.UI/Banner.vb
  src/GHOSTbackup/GHOSTbackup.UI/CustomMsgBox.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.vb
  src/GHOSTbackup/GHOSTbackup.UI/Notification.vb
  src/GHOSTbackup/My Project/AssemblyInfo.vb
Labels: i18n, ui, uplay, wildlands

Wording
  src/GHOSTbackup/GHOSTbackup.Localization/Strings.Designer.vb
  src/GHOSTbackup/GHOSTbackup.Localization/Strings.it.resx
  src/GHOSTbackup/GHOSTbackup.Localization/Strings.resx
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
Labels: i18n, ui

config: Add ResX Manager extension settings
  src/GHOSTbackup.sln
Labels: none

Enable update check by default
  src/GHOSTbackup/GHOSTbackup.Helpers/Settings.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
Labels: ui

Replace ComboBox with custom dropdown
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
  src/GHOSTbackup/GHOSTbackup.vbproj
Labels: ui

Change copyright year
  src/GHOSTbackup/GHOSTbackup.Helpers/BackupHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Logger.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Settings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Strings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Updater.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb
  src/GHOSTbackup/GHOSTbackup.Localization/Localization.vb
  src/GHOSTbackup/GHOSTbackup.UI/Banner.vb
  src/GHOSTbackup/GHOSTbackup.UI/CustomMsgBox.vb
  src/GHOSTbackup/GHOSTbackup.UI/Enums.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.vb
  src/GHOSTbackup/GHOSTbackup.UI/Notification.vb
  src/GHOSTbackup/My Project/AssemblyInfo.vb
  src/Licenses/GHOST_Buster_license.txt
Labels: i18n, ui, uplay, wildlands

Wording
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
Labels: ui

docs: Fix repo structure
  .github/CONTRIBUTING.md
Labels: documentation

config: Update GITIGNORE
  .gitignore
Labels: none

config: Exclude and delete unused files
  .gitignore
  src/GHOSTbackup/GHOSTbackup.vbproj
  src/GHOSTbackup/My Project/Application.Designer.vb
  src/GHOSTbackup/My Project/Application.myapp
  src/GHOSTbackup/My Project/Settings.Designer.vb
  src/GHOSTbackup/My Project/Settings.settings
Labels: none

Remove comments
  src/GHOSTbackup/My Project/app.manifest
Labels: none

docs: Change admonition type
  .github/CONTRIBUTING.md
Labels: documentation

Prevent the designer from opening for CustomDropdown
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
  src/GHOSTbackup/GHOSTbackup.vbproj
Labels: ui

Add description and icon to CustomDropdown control
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
Labels: ui

Small refactoring for CustomDropdown
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
Labels: ui

Move CustomDropdown arrow slightly to the right
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
Labels: ui

Add descriptions and change properties visibility for CustomDropdown
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
Labels: ui

Change `WM_PAINT` type from UInt32 to Int32
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomDropdown.vb
Labels: ui

Add CustomNumericUpDown control
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomNumericUpDown.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.resx
  src/GHOSTbackup/GHOSTbackup.UI/Form1.vb
  src/GHOSTbackup/GHOSTbackup.vbproj
Labels: ui

Add Separator control
  src/GHOSTbackup/GHOSTbackup.UI/Controls/Separator.vb
  src/GHOSTbackup/GHOSTbackup.vbproj
Labels: ui

Small UI changes to Tasks category
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.resx
Labels: ui

Prevent scrolling inside CustomNumericUpDown control
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomNumericUpDown.vb
Labels: ui

Change default value and increment for CustomNumericUpDown
  src/GHOSTbackup/GHOSTbackup.UI/Controls/CustomNumericUpDown.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.Designer.vb
Labels: ui

Format code
  src/GHOSTbackup/GHOSTbackup.Helpers/BackupHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Logger.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/ProcessHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Strings.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/Updater.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/UplayHelper.vb
  src/GHOSTbackup/GHOSTbackup.Helpers/WildlandsHelper.vb
  src/GHOSTbackup/GHOSTbackup.Localization/Localization.vb
  src/GHOSTbackup/GHOSTbackup.UI/Banner.vb
  src/GHOSTbackup/GHOSTbackup.UI/CustomMsgBox.vb
  src/GHOSTbackup/GHOSTbackup.UI/Form1.vb
Labels: i18n, ui, uplay, wildlands

config: Add setting for `IDE0100`
  src/.editorconfig
Labels: none

Include game icons
  .gitignore
  src/GHOSTbackup/Resources/GRW/intel.png
  src/GHOSTbackup/Resources/GRW/kingslayer.png
  src/GHOSTbackup/Resources/GRW/mission.png
  src/GHOSTbackup/Resources/GRW/rally.png
  src/GHOSTbackup/Resources/GRW/skill.png
Labels: none

config: Remove unused paths
  .gitignore
Labels: none

config: Update EditorConfig settings
  .editorconfig
  src/.editorconfig
Labels: none

config: Add Visual Studio and NuGet config files
  src/.vsconfig
  src/nuget.config
Labels: none
